.about {
  text-align: center;
  padding: var(--section_padding);
}

.title {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
}

.color {
  width: 172px;
  height: 21px;
  position: absolute;
  right: 3rem;
  bottom: -0.25rem;
  z-index: -1;
  background: var(--yellow);
}

.about p {
  font-size: 14px;
  color: var(--almost_black);
}

@media (min-width: 1024px) {
  .about {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    width: 50%;
    font-size: 52px;
  }

  .color {
    bottom: 0.5rem;
    right: 6rem;
  }

  .about p {
    width: 50%;
    font-size: 16px;
  }
}
