.brands {
  padding: 27px 0px;
  background: #f8f8f8;
}

.brands img {
  object-fit: contain;
}

.colored {
  display: none;
}

.images:hover .colored {
  display: block;
}

.images:hover .grayed {
  display: none;
}
