.hero {
  min-height: 100vh;
  position: relative;
}

.hero img {
  object-fit: cover;
}

.content {
  top: 50%;
  left: 50%;
  width: 90%;
  display: flex;
  text-align: center;
  color: var(--white);
  position: absolute;
  align-items: center;
  translate: -50% -50%;
  flex-direction: column;
}

.content h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
}

.content p {
  font-size: 13px;
  color: var(--gray);
}

.search {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
  position: relative;
  padding: 10px 12px;
  border: 1px solid var(--dark_gray);
}

.search input {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
}

.search input::placeholder {
  font-size: 14px;
  font-family: "Lato" sans-serif;
}

.search button {
  right: 0;
  top: 50%;
  right: 24px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  translate: 0% -50%;
  position: absolute;
  background: transparent;
}

.search button {
  font-size: 24px;
}
