.locations {
  position: relative;
  padding: var(--section_padding);
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.location {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--almost_white);
}

.location img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
}

.content {
  padding: 1rem 1.5rem;
}

.content p {
  color: var(--almost_black);
}

.content p:first-child {
  font-weight: 700;
  font-size: 20px;
}

.content p:last-child {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
}

.content p:last-child svg {
  margin-left: 20px;
}

.next_button,
.prev_button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 55%;
  z-index: 11;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
}

.next_button {
  right: 2.5rem;
}

.next_button svg,
.prev_button svg {
  font-size: 24px;
}

@media (min-width: 1024px) {
  .next_button {
    right: 100px;
  }

  .prev_button {
    left: 100px;
  }
}
