.processes {
  position: relative;
  padding: var(--section_padding);
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 24px 10px;
  border-radius: 25px;
  min-height: 13rem;
  border: 1px solid var(--almost_white);
}

.icon {
  margin-bottom: 22px;
}

.process p {
  font-size: 14px;
}

.next_button,
.prev_button {
  position: absolute;
  display: flex;
  align-items: center;
  top: 40%;
  z-index: 1;
  border: none;
  padding: 10px;
  border-radius: 100%;
  justify-content: center;
}

.next_button {
  right: 1.5rem;
}

.next_button svg,
.prev_button svg {
  font-size: 24px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 32px;
    text-align: center;
  }

  .process {
    min-height: 16rem;
  }
}
