.desktop_nav {
  display: none;
}

@media (min-width: 1024px) {
  .desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo a {
    font-weight: 700;
    font-size: 24px;
    color: var(--yellow);
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation li a {
    opacity: 0.8;
    font-size: 18px;
    color: var(--gray);
    padding: 0.5rem 1.5rem;
  }
}
