.desktop_nav {
  display: none;
}

@media (min-width: 768px) {
  .desktop_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo a {
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--yellow);
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .navigation li a {
    opacity: 0.8;
    font-size: 0.9rem;
    color: var(--yellow);
    padding: 0.5rem 1rem;
  }
}
