.footer {
  display: flex;
  color: var(--white);
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--chocolate);
  padding: var(--section_padding);
}

.items {
  padding-bottom: 16px;
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.item {
  margin-bottom: 60px;
}

.item:last-child {
  margin-bottom: 0rem;
}

.logo {
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  color: var(--yellow);
  margin-bottom: 24px;
}

.about {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 24px;
}

.social a {
  color: var(--white);
  font-size: 1.5rem;
}

.social a:first-child {
  margin-right: 0.5rem;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.copyright,
.navigation a,
.navigation p {
  font-size: 18px;
  padding: 16px;
  color: var(--gray);
}

.copyright span {
  display: block;
}

.copyright span:first-child {
  margin-bottom: 21px;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    text-align: left;
  }
}
