.footer {
  text-align: center;
  background: var(--almost_black);
  padding: var(--section_padding);
}

.items {
  margin-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.item {
  margin-bottom: 60px;
}

.item:last-child {
  margin-bottom: 16px;
}

.logo {
  font-size: 24px;
  display: inline-block;
  font-weight: 700;
  color: var(--yellow);
  margin-bottom: 24px;
}

.about {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 24px;
}

.social a {
  color: var(--white);
  font-size: 1.5rem;
}

.social a:first-child {
  margin-right: 0.5rem;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.copyright,
.navigation a,
.navigation p {
  font-size: 18px;
  padding: 16px;
  color: var(--gray);
}

.copyright p:first-child {
  margin-bottom: 21px;
}

@media (min-width: 1024px) {
  .footer {
    display: flex;
    text-align: left;
    flex-direction: column;
  }

  .logo {
    margin-bottom: 30px;
  }

  .items {
    display: flex;
    padding-bottom: 60px;
    align-items: flex-start;
    justify-content: space-between;
  }

  .item {
    width: 30%;
    margin-bottom: 0rem;
  }

  .copyright,
  .navigation a,
  .navigation p {
    padding: 16px 0px;
  }

  .copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .copyright p:first-child {
    margin-bottom: 0rem;
  }
}
