.mobile_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  font-weight: 700;
  font-size: 24px;
  color: var(--yellow);
}

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.line::before,
.line::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  right: 20px;
  background: var(--yellow);
  transition: all 0.25s ease-in-out;
}

.line::before {
  transform: translateY(-5px);
}

.line::after {
  transform: translateY(5px);
}

.hamburger.open .line::before {
  transform: rotate(-45deg);
}

.hamburger.open .line::after {
  transform: rotate(45deg);
}

@media (min-width: 768px) {
  .mobile_nav {
    display: none;
  }
}
