.filter_trucks {
  display: flex;
  flex-direction: column;
}

.filter {
  margin-bottom: 1rem;
}

.filter:first-child {
  margin-bottom: 0rem;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
}

.name {
  margin-bottom: 28px;
}

.name input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  border: 1px solid #c4c4c4;
}

.item {
  margin-bottom: 14px;
}

.item input,
.item label {
  cursor: pointer;
}

.item input {
  margin-right: 8px;
}

.item label {
  font-size: 14px;
}

.filter_trucks button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #344054;
  padding: 8px 48px;
  border-radius: 0.25rem;
  background: #cee53f;
}

@media (min-width: 1024px) {
  .filter_trucks {
    width: 15rem;
  }
}
