.filter_modal {
  display: flex;
  flex-direction: column;
}

.filter {
  margin-bottom: 1rem;
}

.filter:first-child {
  margin-bottom: 0rem;
}

.title {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title svg {
  margin-right: 0.5rem;
}

.name_and_price {
  display: flex;
  flex-direction: column;
}

.name_and_price input {
  padding: 10px;
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  border: 1px solid var(--border_color);
}

.name_and_price div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name_and_price div input {
  width: 48%;
}

.item {
  margin-bottom: 0.5rem;
}

.item:last-child {
  margin-bottom: 0rem;
}

.item input {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  padding: 12px 48px;
  border-radius: 0.25rem;
  background: var(--chocolate);
}

.buttons button:last-child {
  margin-right: 1rem;
  padding: 10px 48px;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--chocolate);
}
