.sort_trucks {
  display: flex;
  margin-bottom: 28px;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}

.sort_form {
  display: flex;
  flex-direction: column;
}

.sort_form select {
  padding: 10px;
  border-radius: 8px;
  -webkit-appearance: none;
  border: 1px solid #c4c4c4;
}

@media (min-width: 1024px) {
  .sort_trucks {
    width: 15rem;
  }
}
