.sort_modal {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sort_form {
  display: flex;
  flex-direction: column;
}

.sort_form select {
  padding: 10px;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  border: 1px solid var(--border_color);
}

@media (min-width: 1024px) {
  .sort_modal {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
