.title {
  display: flex;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title svg {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.sort_form {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.item:first-child {
  margin-bottom: 0.5rem;
}

.item input {
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  padding: 12px 48px;
  border-radius: 0.25rem;
  background: var(--chocolate);
}

.buttons button:last-child {
  margin-right: 1rem;
  padding: 10px 48px;
  background: transparent;
  color: var(--black);
  border: 1px solid var(--chocolate);
}
