.side_sort_and_filter {
  display: none;
}

.trucks {
  padding: var(--section_padding);
}

.trucks h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.filter_and_sort {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filter_and_sort p {
  width: 50%;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  padding: 0.75rem 0rem;
  background: var(--chocolate);
}

.filter_and_sort p:first-child {
  border-right: 1px solid var(--white);
}

.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  border: 1px solid var(--almost_white);
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.location {
  position: absolute;
  bottom: 20px;
  right: 12px;
  font-size: 20px;
  font-weight: 700;
  color: var(--almost_black);
  background: var(--white);
  border-radius: 2rem;
  padding: 8px 14px;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
}

.location_and_price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--chocolate);
}

.price {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.description {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.view_truck_button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 8px;
  color: var(--almost_black);
  background: var(--yellow);
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1024px) {
  .side_sort_and_filter {
    display: block;
  }

  .filter_and_sort {
    display: none;
  }

  .filter_and_trucks {
    display: flex;
  }

  .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .price {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
