.side_filters {
  display: none;
  background: #fcfcfc;
  padding: 24px 20px;
  margin-right: 38px;
  border-radius: 20px;
}

.trucks {
  padding: var(--section_padding);
}

.trucks.show_filters {
  background: rgba(16, 16, 16, 0.1);
}

.filters_and_trucks {
  position: relative;
}

.filters_controller {
  display: flex;
  padding: 20px;
  margin-bottom: 30px;
  align-items: center;
  background: #fcfcfc;
  justify-content: space-between;
}

.filters_controller.show_filters {
  border-radius: 20px;
  margin-bottom: 10px;
}

.filters_and_trucks h1 {
  font-size: 16px;
  margin-bottom: 16px;
}

.middle_filters {
  z-index: 1;
  width: 100%;
  top: -1000%;
  position: absolute;
  background: #fcfcfc;
  border-radius: 20px;
  padding: 24px 21px;
}

.middle_filters.show_filters {
  top: auto;
}

.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  border: 1px solid var(--almost_white);
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.location {
  position: absolute;
  bottom: 20px;
  right: 12px;
  font-size: 20px;
  font-weight: 700;
  color: var(--almost_black);
  background: var(--white);
  border-radius: 2rem;
  padding: 8px 14px;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
  padding: 10px 14px;
  flex-direction: column;
}

.price {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.description {
  margin-bottom: 10px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 14px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.view_truck_button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding: 14px 8px;
  color: var(--almost_black);
  background: var(--yellow);
  font-family: "Roboto", sans-serif;
}

@media (min-width: 1024px) {
  .filters_controller,
  .middle_filters {
    display: none;
  }

  .side_filters {
    display: block;
  }

  .filters_and_trucks {
    display: flex;
  }

  .filters_and_trucks h1 {
    font-size: 28px;
  }

  .items {
    grid-template-columns: repeat(3, 1fr);
  }

  .price {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
