.side_sort_and_filter {
  display: none;
}

.trucks {
  padding: var(--section_padding);
}

.trucks h1 {
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.filter_and_sort {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
}

.filter_and_sort p {
  width: 50%;
  cursor: pointer;
  text-align: center;
  color: var(--white);
  padding: 0.75rem 0rem;
  background: var(--chocolate);
}

.filter_and_sort p:first-child {
  border-right: 1px solid var(--white);
}

.items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  border-radius: 0.5rem;
  background: var(--border_color);
}

.item img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.content {
  display: flex;
  flex-direction: column;

  padding: 1rem;
}

.location_and_price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.25rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--chocolate);
}

.location_and_price p {
  font-weight: 600;
  font-size: 1.25rem;
}

.description {
  margin-bottom: 1rem;
  display: -webkit-box;
  overflow: hidden;
  font-size: 0.9rem;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.item a {
  border: none;
  padding: 8px 32px;
  border-radius: 2rem;
  color: var(--white);
  align-self: center;
  display: inline-block;
  background: var(--chocolate);
}

@media (min-width: 768px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .side_sort_and_filter {
    display: block;
  }

  .filter_and_sort {
    display: none;
  }

  .filter_and_trucks {
    display: flex;
  }

  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
